html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: brown;
}

.back-case {
  background-color: beige;
  margin: 0 auto;
  width: 19vw;
  height: 80vh;
  margin-top: 4rem;
  position: relative;
  box-shadow: 2px 10px 1.5rem;
  border-radius: 2rem;
}

.front-case {
  background-color: black;
  position: absolute;
  width: 15.5rem;
  height: 40vh;
  top: 5px;
  left: 0.3rem;
  border-bottom-right-radius: 5.5rem;
  border-bottom-left-radius: 5.5rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.screen {
  background-color: lightgrey;
  position: absolute;
  width: 9rem;
  height: 25vh;
  top: 2.7rem;
  left: 2.3rem;
  padding-left: 2rem;
}

.roman {
  position: absolute;
  align-items: center;
  justify-content: center;
  color: white;
  top: 15px;
  left: 3.5rem;
  font-weight: bold;
}

.speaker {
  background: grey;
  position: absolute;
  width: 5rem;
  height: 0.5rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 5.5rem;
  font-weight: bold;
}
/* .buttons {
  display: flex;
} */

.key-1 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 18rem;
  left: 10px;
}

.key-2 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 20rem;
  left: 10px;
  margin-top: 1rem;
}

.key-3 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 22rem;
  left: 10px;
  margin-top: 1.5rem;
}

.key-4 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 24rem;
  left: 10px;
  margin-top: 2rem;
}

.key-5 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 25.5rem;
  left: 10px;
  margin-top: 3rem;
}

.key-6 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 5rem;
  height: 2.5rem;
  top: 18rem;
  left: 5.7rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  font-style: none;
  outline: none;
}

.key-7 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 20rem;
  left: 4.5rem;
  margin-top: 1rem;
}

.key-8 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 22rem;
  left: 4.5rem;
  margin-top: 1.5rem;
}

.key-9 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 24rem;
  left: 4.5rem;
  margin-top: 2rem;
}

.key-10 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 25.5rem;
  left: 4.5rem;
  margin-top: 3rem;
}

.key-20 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 18rem;
  left: 9.5rem;
}

.key-30 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 20rem;
  left: 8.7rem;
  margin-top: 1rem;
}

.key-40 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 22rem;
  left: 8.7rem;
  margin-top: 1.5rem;
}

.key-50 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 24rem;
  left: 8.7rem;
  margin-top: 2rem;
}

.key-60 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 25.5rem;
  left: 8.7rem;
  margin-top: 3rem;
}

.key-70 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 18rem;
  right: 0.7rem;
}

.key-80 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 20rem;
  right: 0.7rem;
  margin-top: 1rem;
}

.key-90 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 22rem;
  right: 0.7rem;
  margin-top: 1.5rem;
}

.key-100 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 24rem;
  right: 0.7rem;
  margin-top: 2rem;
}

.key-101 {
  background: #f6e8b1;
  color: black;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 25.5rem;
  right: 0.7rem;
  margin-top: 3rem;
}

.key {
  font-weight: bold;
  border-radius: 8px;
  width: 3rem;
  outline: none;
  cursor: pointer;
  font-style: none;
}

.key:hover {
  background: rgb(89, 89, 180);
}

.key-6:hover {
  background: rgb(55, 170, 55);
}

.mini-spk {
  background-color: black;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  left: 7.7rem;
}
